@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #000000;
}
  
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #000000;
}
  
h4 {
    font-size: 20px;
    color: #000000;
}
  
h6 {
    font-weight: 700;
    font-size: 12px;
}

.logo{
    height: 100px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
body{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    background-color:beige;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.37);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;


}
.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color:rgb(6, 19, 95);
    transition: 0.4s ease;

}

.navbar li a:hover,
.navbar li a:active{
    color: rgb(124, 126, 238);
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(124, 126, 238);
    position: absolute;
    bottom: -4px;
    left: 20px;
    

}
.mobile{
    display: none;
    align-items: safe;
}
.hero{
    background-image: url(photos/background1.webp);
    height: 75vh;
    width: 100%;
    background-size:cover;
    background-position: top 15% right 0;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero h4{
    padding: 10px;
}
.hero h1{
    color: rgb(202, 112, 9);

}
.hero button{
    background-image: url(photos/button.png);
    background-color: transparent;
    color: rgb(34, 85, 0);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature .febox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.26);
    border: 1px solid wheat;
    border-radius: 4px;
    margin: 15px 30px;
} 
.feature .febox:hover{
    box-shadow: 10px 10px 64px rgba(80, 80, 80, 0.192);
}
.feature .febox img{
    width: 100%;
    margin-bottom: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;


}
.feature .febox h6{
    display: inline-block;
    padding: 9px 8px 6px 5px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(14, 235, 205);
    background-color: rgb(128, 2, 2);
}   

.product1{
    text-align: center;

}
.product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
.product1 .pro{
    width:26%;
    min-width: 250px;
    padding: 10px 15px;
    border: 1px solid rgb(87, 56, 16);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(80, 80, 80, 0.123);
    margin: 15px 0;
    transition: 0.3s ease-in;


}
.product1 .pro:hover{
    box-shadow: 20px 20px 50px rgba(80, 80, 80, 0.404);
}
.product1 .pro img{
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
    
}
.product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}  
.product1 .pro .des span{
    color: #ff0000;
    
}
.product1 .pro .des h5{
    padding: 5px;
    color: rgb(63, 22, 22);
    font-size: 15px;

}
.product1 .pro .des i{
    font-size: 15px;
    color: gold;
}
.product1 .pro .des h4{
    padding-top: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}
.product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgba(144, 141, 155, 0.589);
    font-weight: 700;
    color: rgb(238, 27, 20);
    border: 1px solid wheat ;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
   

}
.categories h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.categories .c1 {
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 20px 20px 30px rgba(59, 59, 59, 0.336);
    transition: .3s ease-in;
    
    
    
}
.categories .c1:hover{
    box-shadow: 20px 20px 30px rgba(82, 82, 82, 0.582);
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: start;
    text-align: start; 
    background-image: url(photos/banner.png);  
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position:center; 
}
.banner h2{
    text-decoration: none;
    color: red;
}

.banner button{
    color: rgb(255, 1, 1);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.banner button:hover{
    background-color: rgb(0, 238, 255);
    color: #ffffff;
}
.smbanner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.smbanner h2{
    display: flex;
    align-items: center;
    justify-content: center;

}
.smbanner .bannerbox{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 50px;
    align-items:start; 
    text-align: center;
    background-image: url(photos/banner3.jpg); 
    min-width: 570px;
    height: 70vh;
    background-size: cover;
    background-position:center; 
    border: 1px solid;
    border-radius: 10px;


}
.smbanner .bannerbox2{
    background-image: url(photos/banner2.jpg);
}
.smbanner .bannerbox button{
    padding: 10px ;
    background-color: blanchedalmond;
    color: #ff0000;
    font-weight: 600;
    transition: .3s ease-out;

}
.smbanner .bannerbox button:hover{
    background-color: aquamarine;
    color: #000000;
}
.banner3{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    flex-wrap: wrap;
}
.banner3 .bannerbox{
    background-image: url(photos/textbanner1.jpg);
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding: 50px;
    align-items:start; 
    text-align: center; 
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position:center; 
    padding: 20px;
    margin-bottom: 20px;
}
.banner3 .b2{
    background-image: url(photos/textbanner2.jpg);
}
.banner3 .b3{
    background-image: url(photos/textbanner3.jpg);
}
.banner3 .bannerbox h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.newsletter{
    text-align: center;
    padding: 20px;
    background-image: url(photos/background.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;

}
.newsletter h2{
    padding-bottom: 40px;
    color: white;

}
.newsletter input{
    height: 2.5rem;
    padding: 0 2.5rem;
    font-size: 15px;
    width: 60%;
    border: 1px solid transparent;
    border-radius: 4px;

}
.newsletter button{
    padding: 5px 2px;
    font-weight: 600;
    background-color: rgba(21, 29, 139, 0.322);
    color: white;

}
.newsletter button:hover{
    background-color: #ffffff;
    color: #000000;

}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer .footerlogo{
    margin-bottom: 30px;

}
.footer h4{
    font-size: 15px;
    padding-bottom: 20px;
}
.footer p{
    font-size: 14px;
    margin: 0 0 16px 0;

}
.footer a{
    text-decoration: none;
    color: black;
    margin: 0 0 10px 0;


}
.footer .follow i{
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;

}
.footer .follow i:hover,
.footer a:hover{
    color: rgb(0, 183, 255);
}
.footer .copyright p{
    padding: 40px;
    margin: auto;
}





@media(max-width:799px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:azure;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.26);
        padding: 70px 0 0 10px ;

    }
    .navbar.active{
        right: 0;
    }
    .navbar li{
        margin-bottom: 20px;
    }
    .mobile{
        display: flex;
        align-items: safe;
    }
    .mobile i{
        color: lightslategrey;
        font-size: 20px;
        padding-left: 20px;
    }
    .banner{
        background-size:50%
    }
    
    .smbanner .bannerbox {
            display: flex;
            flex-direction: column;
            justify-content: right;
            padding: px;
            align-items: start;
            text-align: center;
            
            min-width: 10px;
            height: 70vh;
            background-size: cover;
            background-position: center;
            border: 1px solid;
            border-radius: 10px;
        }

   


}
